

<div class="btn-group btn-group-justified pb-2 pt-2" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="/connections/new" class="btn btn-default btn-block">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
  </div>
</div>



<div class="row">
  <% @connections.each do |connection| %>
  <% if current_user.id == connection.user_id %>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="dropdown">
          <button class="btn btn-default btn-xs dropdown-toggle .pull-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

            <span class="span1 offset2"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <li><a href="/connections/<%= connection.id %>">Details</a></li>
            <li>
              <a href="/connections/<%= connection.id %>/edit">Edit</a>
            </li>

            <li role="separator" class="divider"></li>
            <li>
              <a href="/delete_connection/<%= connection.id %>">Delete</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <h1> <a href="/connections/<%= connection.id %>">
          <%= connection.first_name %>
          <%= connection.last_name %> </a>
        </h1>
        <h5> <i class="fa fa-envelope" aria-hidden="true"></i> <%= connection.email %>
        </h5>
        <h5>  <i class="fa fa-phone" aria-hidden="true"></i> <%= connection.phone %>
        </h5>
      </div>
    </div>
  </div>
  <%else %>

  <%end %>
  <%end %>
</div>


<!-- <div class="container">
<div class="row">
<% @connections.each do |connection| %>
<div class="col-md-3"></div>
<%= connection.last_name %>
<% end %>
</div>
</div> -->

<!-- <div class="row">
<div class="col-md-12">
<table class="table table-striped table-hover">
<tr>
<th>First name</th>
<th>Last name</th>
<th>Company</th>
<th>Phone</th>
<th>Email</th>
<th>Birthdate</th>
<th>Linkedin</th>
<th>User</th>
<th>Actions</th>
</tr>

<% @connections.each do |connection| %>
<tr>
<td><%= connection.first_name %></td>
<td><%= connection.last_name %></td>
<td><%= connection.company %></td>
<td><%= connection.phone %></td>
<td><%= connection.email %></td>
<td><%= connection.birthdate %></td>
<td><%= connection.linkedin %></td>
<td><%= connection.user_id %></td>
<td>
<a href="/connections/<%= connection.id %>" class="btn btn-primary">Show</a>
<a href="/connections/<%= connection.id %>/edit" class="btn btn-warning">Edit</a>
<a href="/delete_connection/<%= connection.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
</td>
</tr>
<% end %>
</table>
</div>
</div> -->
